<?xml version="1.0" encoding="utf-8"?>
<NetTiersMap xmlns="http://www.nettiers.com/NetTiersMap.xsd">
	<Table Id="GiaoVien" EntityName="GiaoVien" Owner="dbo" PropertyName="GiaoVien" FieldName="giaoVien" FriendlyName="Giao Vien" IncludeInOutput="true">
		<Column Id="MaGiaoVien" CSType="System.String" PropertyName="MaGiaoVien" FieldName="maGiaoVien" FriendlyName="Ma Giao Vien" IncludeInOutput="true" />
		<Column Id="HoTenGiaoVien" CSType="System.String" PropertyName="HoTenGiaoVien" FieldName="hoTenGiaoVien" FriendlyName="Ho Ten Giao Vien" IncludeInOutput="true" />
		<Column Id="TenTat" CSType="System.String" PropertyName="TenTat" FieldName="tenTat" FriendlyName="Ten Tat" IncludeInOutput="true" />
		<Column Id="DiaChi" CSType="System.String" PropertyName="DiaChi" FieldName="diaChi" FriendlyName="Dia Chi" IncludeInOutput="true" />
		<Column Id="DienThoai" CSType="System.String" PropertyName="DienThoai" FieldName="dienThoai" FriendlyName="Dien Thoai" IncludeInOutput="true" />
		<ChildCollection Id="PhuTrachCollection" PropertyName="PhuTrachCollection" FieldName="phuTrachMaGiaoVien" FriendlyName="PhuTrachCollection" CSType="TList&lt;PhuTrach&gt;" RelationshipType="OneToMany" ForeignKeyName="PhuTrach$GiaoVienPhuTrach" IncludeInOutput="true"/>
		<ChildCollection Id="PhanCongCollection" PropertyName="PhanCongCollection" FieldName="phanCongMaGiaoVien" FriendlyName="PhanCongCollection" CSType="TList&lt;PhanCong&gt;" RelationshipType="OneToMany" ForeignKeyName="PhanCong$GiaoVienPhanCong" IncludeInOutput="true"/>
		<ChildCollection Id="RangBuocGiaoVienCollection" PropertyName="RangBuocGiaoVienCollection" FieldName="rangBuocGiaoVienMaGiaoVien" FriendlyName="RangBuocGiaoVienCollection" CSType="TList&lt;RangBuocGiaoVien&gt;" RelationshipType="OneToMany" ForeignKeyName="RangBuocGiaoVien$GiaoVienRangBuocGiaoVien" IncludeInOutput="true"/>
	</Table>
	<Table Id="Khoi" EntityName="Khoi" Owner="dbo" PropertyName="Khoi" FieldName="khoi" FriendlyName="Khoi" IncludeInOutput="true">
		<Column Id="MaKhoi" CSType="System.String" PropertyName="MaKhoi" FieldName="maKhoi" FriendlyName="Ma Khoi" IncludeInOutput="true" />
		<Column Id="TenKhoi" CSType="System.String" PropertyName="TenKhoi" FieldName="tenKhoi" FriendlyName="Ten Khoi" IncludeInOutput="true" />
		<ChildCollection Id="LopHocCollection" PropertyName="LopHocCollection" FieldName="lopHocMaKhoi" FriendlyName="LopHocCollection" CSType="TList&lt;LopHoc&gt;" RelationshipType="OneToMany" ForeignKeyName="LopHoc$KhoiLopHoc" IncludeInOutput="true"/>
	</Table>
	<Table Id="LichLopHoc" EntityName="LichLopHoc" Owner="dbo" PropertyName="LichLopHoc" FieldName="lichLopHoc" FriendlyName="Lich Lop Hoc" IncludeInOutput="true">
		<Column Id="MaLichLopHoc" CSType="System.String" PropertyName="MaLichLopHoc" FieldName="maLichLopHoc" FriendlyName="Ma Lich Lop Hoc" IncludeInOutput="true" />
		<Column Id="MaPhanCong" CSType="System.String" PropertyName="MaPhanCong" FieldName="maPhanCong" FriendlyName="Ma Phan Cong" IncludeInOutput="true" />
		<Column Id="Thu" CSType="System.String" PropertyName="Thu" FieldName="thu" FriendlyName="Thu" IncludeInOutput="true" />
		<Column Id="TietHocBatDau" CSType="System.Byte?" PropertyName="TietHocBatDau" FieldName="tietHocBatDau" FriendlyName="Tiet Hoc Bat Dau" IncludeInOutput="true" />
		<Column Id="SoTietHoc" CSType="System.Byte?" PropertyName="SoTietHoc" FieldName="soTietHoc" FriendlyName="So Tiet Hoc" IncludeInOutput="true" />
	</Table>
	<Table Id="LopHoc" EntityName="LopHoc" Owner="dbo" PropertyName="LopHoc" FieldName="lopHoc" FriendlyName="Lop Hoc" IncludeInOutput="true">
		<Column Id="MaLopHoc" CSType="System.String" PropertyName="MaLopHoc" FieldName="maLopHoc" FriendlyName="Ma Lop Hoc" IncludeInOutput="true" />
		<Column Id="TenLopHoc" CSType="System.String" PropertyName="TenLopHoc" FieldName="tenLopHoc" FriendlyName="Ten Lop Hoc" IncludeInOutput="true" />
		<Column Id="MaKhoi" CSType="System.String" PropertyName="MaKhoi" FieldName="maKhoi" FriendlyName="Ma Khoi" IncludeInOutput="true" />
		<ChildCollection Id="PhanCongCollection" PropertyName="PhanCongCollection" FieldName="phanCongMaLopHoc" FriendlyName="PhanCongCollection" CSType="TList&lt;PhanCong&gt;" RelationshipType="OneToMany" ForeignKeyName="PhanCong$LopHocPhanCong" IncludeInOutput="true"/>
		<ChildCollection Id="RangBuocLopHocCollection" PropertyName="RangBuocLopHocCollection" FieldName="rangBuocLopHocMaLopHoc" FriendlyName="RangBuocLopHocCollection" CSType="TList&lt;RangBuocLopHoc&gt;" RelationshipType="OneToMany" ForeignKeyName="RangBuocLopHoc$LopHocRangBuocLopHoc" IncludeInOutput="true"/>
	</Table>
	<Table Id="MonHoc" EntityName="MonHoc" Owner="dbo" PropertyName="MonHoc" FieldName="monHoc" FriendlyName="Mon Hoc" IncludeInOutput="true">
		<Column Id="MaMonHoc" CSType="System.String" PropertyName="MaMonHoc" FieldName="maMonHoc" FriendlyName="Ma Mon Hoc" IncludeInOutput="true" />
		<Column Id="TenMonHoc" CSType="System.String" PropertyName="TenMonHoc" FieldName="tenMonHoc" FriendlyName="Ten Mon Hoc" IncludeInOutput="true" />
		<Column Id="QuiDinhSoTietHocLienTiepToiThieu" CSType="System.Byte?" PropertyName="QuiDinhSoTietHocLienTiepToiThieu" FieldName="quiDinhSoTietHocLienTiepToiThieu" FriendlyName="Qui Dinh So Tiet Hoc Lien Tiep Toi Thieu" IncludeInOutput="true" />
		<Column Id="QuiDinhSoTietHocLienTiepToiDa" CSType="System.Byte?" PropertyName="QuiDinhSoTietHocLienTiepToiDa" FieldName="quiDinhSoTietHocLienTiepToiDa" FriendlyName="Qui Dinh So Tiet Hoc Lien Tiep Toi Da" IncludeInOutput="true" />
		<ChildCollection Id="PhuTrachCollection" PropertyName="PhuTrachCollection" FieldName="phuTrachMaMonHoc" FriendlyName="PhuTrachCollection" CSType="TList&lt;PhuTrach&gt;" RelationshipType="OneToMany" ForeignKeyName="PhuTrach$MonHocPhuTrach" IncludeInOutput="true"/>
		<ChildCollection Id="PhanCongCollection" PropertyName="PhanCongCollection" FieldName="phanCongMaMonHoc" FriendlyName="PhanCongCollection" CSType="TList&lt;PhanCong&gt;" RelationshipType="OneToMany" ForeignKeyName="PhanCong$MonHocPhanCong" IncludeInOutput="true"/>
	</Table>
	<Table Id="PhanCong" EntityName="PhanCong" Owner="dbo" PropertyName="PhanCong" FieldName="phanCong" FriendlyName="Phan Cong" IncludeInOutput="true">
		<Column Id="MaPhanCong" CSType="System.String" PropertyName="MaPhanCong" FieldName="maPhanCong" FriendlyName="Ma Phan Cong" IncludeInOutput="true" />
		<Column Id="MaLopHoc" CSType="System.String" PropertyName="MaLopHoc" FieldName="maLopHoc" FriendlyName="Ma Lop Hoc" IncludeInOutput="true" />
		<Column Id="MaMonHoc" CSType="System.String" PropertyName="MaMonHoc" FieldName="maMonHoc" FriendlyName="Ma Mon Hoc" IncludeInOutput="true" />
		<Column Id="MaGiaoVien" CSType="System.String" PropertyName="MaGiaoVien" FieldName="maGiaoVien" FriendlyName="Ma Giao Vien" IncludeInOutput="true" />
		<Column Id="SoTietHocTuan" CSType="System.Byte?" PropertyName="SoTietHocTuan" FieldName="soTietHocTuan" FriendlyName="So Tiet Hoc Tuan" IncludeInOutput="true" />
		<Column Id="SoTietHocLienTiepToiThieu" CSType="System.Byte?" PropertyName="SoTietHocLienTiepToiThieu" FieldName="soTietHocLienTiepToiThieu" FriendlyName="So Tiet Hoc Lien Tiep Toi Thieu" IncludeInOutput="true" />
		<Column Id="SoTietHocLienTiepToiDa" CSType="System.Byte?" PropertyName="SoTietHocLienTiepToiDa" FieldName="soTietHocLienTiepToiDa" FriendlyName="So Tiet Hoc Lien Tiep Toi Da" IncludeInOutput="true" />
		<Column Id="SoBuoiHocToiThieu" CSType="System.Byte?" PropertyName="SoBuoiHocToiThieu" FieldName="soBuoiHocToiThieu" FriendlyName="So Buoi Hoc Toi Thieu" IncludeInOutput="true" />
		<Column Id="SoBuoiHocToiDa" CSType="System.Byte?" PropertyName="SoBuoiHocToiDa" FieldName="soBuoiHocToiDa" FriendlyName="So Buoi Hoc Toi Da" IncludeInOutput="true" />
		<ChildCollection Id="LichLopHocCollection" PropertyName="LichLopHocCollection" FieldName="lichLopHocMaPhanCong" FriendlyName="LichLopHocCollection" CSType="TList&lt;LichLopHoc&gt;" RelationshipType="OneToMany" ForeignKeyName="LichLopHoc$PhanCongLichLopHoc" IncludeInOutput="true"/>
	</Table>
	<Table Id="PhuTrach" EntityName="PhuTrach" Owner="dbo" PropertyName="PhuTrach" FieldName="phuTrach" FriendlyName="Phu Trach" IncludeInOutput="true">
		<Column Id="MaPhuTrach" CSType="System.String" PropertyName="MaPhuTrach" FieldName="maPhuTrach" FriendlyName="Ma Phu Trach" IncludeInOutput="true" />
		<Column Id="MaGiaoVien" CSType="System.String" PropertyName="MaGiaoVien" FieldName="maGiaoVien" FriendlyName="Ma Giao Vien" IncludeInOutput="true" />
		<Column Id="MaMonHoc" CSType="System.String" PropertyName="MaMonHoc" FieldName="maMonHoc" FriendlyName="Ma Mon Hoc" IncludeInOutput="true" />
	</Table>
	<Table Id="RangBuocGiaoVien" EntityName="RangBuocGiaoVien" Owner="dbo" PropertyName="RangBuocGiaoVien" FieldName="rangBuocGiaoVien" FriendlyName="Rang Buoc Giao Vien" IncludeInOutput="true">
		<Column Id="MaRangBuocGiaoVien" CSType="System.String" PropertyName="MaRangBuocGiaoVien" FieldName="maRangBuocGiaoVien" FriendlyName="Ma Rang Buoc Giao Vien" IncludeInOutput="true" />
		<Column Id="MaGiaoVien" CSType="System.String" PropertyName="MaGiaoVien" FieldName="maGiaoVien" FriendlyName="Ma Giao Vien" IncludeInOutput="true" />
		<Column Id="Thu" CSType="System.Byte?" PropertyName="Thu" FieldName="thu" FriendlyName="Thu" IncludeInOutput="true" />
		<Column Id="TietHoc" CSType="System.Byte?" PropertyName="TietHoc" FieldName="tietHoc" FriendlyName="Tiet Hoc" IncludeInOutput="true" />
		<Column Id="TrangThai" CSType="System.Byte?" PropertyName="TrangThai" FieldName="trangThai" FriendlyName="Trang Thai" IncludeInOutput="true" />
	</Table>
	<Table Id="RangBuocLopHoc" EntityName="RangBuocLopHoc" Owner="dbo" PropertyName="RangBuocLopHoc" FieldName="rangBuocLopHoc" FriendlyName="Rang Buoc Lop Hoc" IncludeInOutput="true">
		<Column Id="MaRangBuocLopHoc" CSType="System.String" PropertyName="MaRangBuocLopHoc" FieldName="maRangBuocLopHoc" FriendlyName="Ma Rang Buoc Lop Hoc" IncludeInOutput="true" />
		<Column Id="MaLopHoc" CSType="System.String" PropertyName="MaLopHoc" FieldName="maLopHoc" FriendlyName="Ma Lop Hoc" IncludeInOutput="true" />
		<Column Id="Thu" CSType="System.Byte?" PropertyName="Thu" FieldName="thu" FriendlyName="Thu" IncludeInOutput="true" />
		<Column Id="TietHoc" CSType="System.Byte?" PropertyName="TietHoc" FieldName="tietHoc" FriendlyName="Tiet Hoc" IncludeInOutput="true" />
		<Column Id="TrangThai" CSType="System.Byte?" PropertyName="TrangThai" FieldName="trangThai" FriendlyName="Trang Thai" IncludeInOutput="true" />
	</Table>
	<Table Id="ThamSo" EntityName="ThamSo" Owner="dbo" PropertyName="ThamSo" FieldName="thamSo" FriendlyName="Tham So" IncludeInOutput="true">
		<Column Id="SoTietToiDaTrongNgay" CSType="System.Byte" PropertyName="SoTietToiDaTrongNgay" FieldName="soTietToiDaTrongNgay" FriendlyName="So Tiet Toi Da Trong Ngay" IncludeInOutput="true" />
		<Column Id="TietGay" CSType="System.Byte" PropertyName="TietGay" FieldName="tietGay" FriendlyName="Tiet Gay" IncludeInOutput="true" />
		<Column Id="SoTietToiDaDuocHocTrongNgay" CSType="System.Int16" PropertyName="SoTietToiDaDuocHocTrongNgay" FieldName="soTietToiDaDuocHocTrongNgay" FriendlyName="So Tiet Toi Da Duoc Hoc Trong Ngay" IncludeInOutput="true" />
	</Table>
	<Table Id="ThoiKhoaBieu" EntityName="ThoiKhoaBieu" Owner="dbo" PropertyName="ThoiKhoaBieu" FieldName="thoiKhoaBieu" FriendlyName="Thoi Khoa Bieu" IncludeInOutput="true">
		<Column Id="MaThoiKhoaBieu" CSType="System.String" PropertyName="MaThoiKhoaBieu" FieldName="maThoiKhoaBieu" FriendlyName="Ma Thoi Khoa Bieu" IncludeInOutput="true" />
		<Column Id="MaPhanCong" CSType="System.String" PropertyName="MaPhanCong" FieldName="maPhanCong" FriendlyName="Ma Phan Cong" IncludeInOutput="true" />
		<Column Id="MaLopHoc" CSType="System.String" PropertyName="MaLopHoc" FieldName="maLopHoc" FriendlyName="Ma Lop Hoc" IncludeInOutput="true" />
		<Column Id="PhuTrach" CSType="System.String" PropertyName="PhuTrach" FieldName="phuTrach" FriendlyName="Phu Trach" IncludeInOutput="true" />
		<Column Id="Thu" CSType="System.Int32?" PropertyName="Thu" FieldName="thu" FriendlyName="Thu" IncludeInOutput="true" />
		<Column Id="TietHoc" CSType="System.Int32?" PropertyName="TietHoc" FieldName="tietHoc" FriendlyName="Tiet Hoc" IncludeInOutput="true" />
	</Table>
</NetTiersMap>
