<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="netTiersService"
     type="PTNK.Data.Bases.NetTiersServiceSection, PTNK.Data"
     allowDefinition="MachineToApplication"
     restartOnExternalChanges="true" />
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>

  <connectionStrings>
    <add name="netTiersConnectionString" connectionString="Data Source=DAVID-PC\SQLEXPRESS;Initial Catalog=PTNK;Integrated Security=True" />
  </connectionStrings>

  <netTiersService defaultProvider="SqlNetTiersProvider">
    <providers>
      <!--
    *** SqlClient Provider ***
    	connectionStringName: sqlclient connection string to the db
    	useStoredProcedure: if trueindicates that we use the stored procedures, otherwise, we use parametrized queries that are embedded.
    -->
      <add
        name="SqlNetTiersProvider"
        type="PTNK.Data.SqlClient.SqlNetTiersProvider, PTNK.Data.SqlClient"
        connectionStringName="netTiersConnectionString"
        useStoredProcedure="false"
        providerInvariantName="System.Data.SqlClient"
        entityFactoryType="PTNK.Entities.EntityFactory"
		useEntityFactory="true"
		enableEntityTracking="false"
        enableMethodAuthorization="false"
        defaultCommandTimeout="30"
        />
      <!-- 
      	*** WebserviceClient Provider ***
      	The url parameter indicates the webservices url (ex: http://localhost/NorthWind/NorthWindServices.aspx)
      <add 
        name="WsNetTiersProvider" 
        type="PTNK.Data.WebServiceClient.WsNetTiersProvider, PTNK.Data.WebServiceClient"
        url="http://localhost/QuanLyHocSinhPTNKServices/PTNKServices.asmx"
        />
     -->
    </providers>
  </netTiersService>
  <enterpriseLibrary.ConfigurationSource selectedSource="File Configuration Source">
    <sources>
      <add name="File Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"
        filePath="entlib.config" />
    </sources>
  </enterpriseLibrary.ConfigurationSource>
</configuration>
