<?xml version="1.0" encoding="utf-8"?>
<NetTiersMap xmlns="http://www.nettiers.com/NetTiersMap.xsd">
	<Table Id="BangDiem" EntityName="BangDiem" Owner="dbo" PropertyName="BangDiem" FieldName="bangDiem" FriendlyName="Bang Diem" IncludeInOutput="true">
		<Column Id="MaBangDiem" CSType="System.String" PropertyName="MaBangDiem" FieldName="maBangDiem" FriendlyName="Ma Bang Diem" IncludeInOutput="true" />
		<Column Id="DTB" CSType="System.Double" PropertyName="Dtb" FieldName="dtb" FriendlyName="Dtb" IncludeInOutput="true" />
		<Column Id="MaHocSinh" CSType="System.String" PropertyName="MaHocSinh" FieldName="maHocSinh" FriendlyName="Ma Hoc Sinh" IncludeInOutput="true" />
		<ChildCollection Id="DiemCollection" PropertyName="DiemCollection" FieldName="diemMaBangDiem" FriendlyName="DiemCollection" CSType="TList&lt;Diem&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_Diem_BangDiem" IncludeInOutput="true"/>
	</Table>
	<Table Id="BangThamSo" EntityName="BangThamSo" Owner="dbo" PropertyName="BangThamSo" FieldName="bangThamSo" FriendlyName="Bang Tham So" IncludeInOutput="true">
		<Column Id="MaBangThamSo" CSType="System.String" PropertyName="MaBangThamSo" FieldName="maBangThamSo" FriendlyName="Ma Bang Tham So" IncludeInOutput="true" />
		<Column Id="SoTuoiToiThieu" CSType="System.Int32" PropertyName="SoTuoiToiThieu" FieldName="soTuoiToiThieu" FriendlyName="So Tuoi Toi Thieu" IncludeInOutput="true" />
		<Column Id="SoTuoiToiDa" CSType="System.Int32" PropertyName="SoTuoiToiDa" FieldName="soTuoiToiDa" FriendlyName="So Tuoi Toi Da" IncludeInOutput="true" />
		<Column Id="SiSoToiDa" CSType="System.Int32" PropertyName="SiSoToiDa" FieldName="siSoToiDa" FriendlyName="Si So Toi Da" IncludeInOutput="true" />
		<Column Id="SoMonHoc" CSType="System.Int32" PropertyName="SoMonHoc" FieldName="soMonHoc" FriendlyName="So Mon Hoc" IncludeInOutput="true" />
		<Column Id="DiemChuan" CSType="System.Double" PropertyName="DiemChuan" FieldName="diemChuan" FriendlyName="Diem Chuan" IncludeInOutput="true" />
		<Column Id="SoQuanLyToiDa" CSType="System.Int32" PropertyName="SoQuanLyToiDa" FieldName="soQuanLyToiDa" FriendlyName="So Quan Ly Toi Da" IncludeInOutput="true" />
		<Column Id="SoTietHocLienTiep" CSType="System.Int32" PropertyName="SoTietHocLienTiep" FieldName="soTietHocLienTiep" FriendlyName="So Tiet Hoc Lien Tiep" IncludeInOutput="true" />
	</Table>
	<Table Id="ChucDanh" EntityName="ChucDanh" Owner="dbo" PropertyName="ChucDanh" FieldName="chucDanh" FriendlyName="Chuc Danh" IncludeInOutput="true">
		<Column Id="MaChucDanh" CSType="System.String" PropertyName="MaChucDanh" FieldName="maChucDanh" FriendlyName="Ma Chuc Danh" IncludeInOutput="true" />
		<Column Id="TenChucDanh" CSType="System.String" PropertyName="TenChucDanh" FieldName="tenChucDanh" FriendlyName="Ten Chuc Danh" IncludeInOutput="true" />
		<ChildCollection Id="QuanLyCollection" PropertyName="QuanLyCollection" FieldName="quanLyMaChucDanh" FriendlyName="QuanLyCollection" CSType="TList&lt;QuanLy&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_QuanLy_ChucDanh" IncludeInOutput="true"/>
	</Table>
	<Table Id="Diem" EntityName="Diem" Owner="dbo" PropertyName="Diem" FieldName="diem" FriendlyName="Diem" IncludeInOutput="true">
		<Column Id="MaDiem" CSType="System.String" PropertyName="MaDiem" FieldName="maDiem" FriendlyName="Ma Diem" IncludeInOutput="true" />
		<Column Id="Diem15Phut" CSType="System.Double" PropertyName="Diem15Phut" FieldName="diem15Phut" FriendlyName="Diem15 Phut" IncludeInOutput="true" />
		<Column Id="Diem1Tiet" CSType="System.Double" PropertyName="Diem1Tiet" FieldName="diem1Tiet" FriendlyName="Diem1 Tiet" IncludeInOutput="true" />
		<Column Id="DiemCuoiKy" CSType="System.Double" PropertyName="DiemCuoiKy" FieldName="diemCuoiKy" FriendlyName="Diem Cuoi Ky" IncludeInOutput="true" />
		<Column Id="DTB" CSType="System.Double" PropertyName="Dtb" FieldName="dtb" FriendlyName="Dtb" IncludeInOutput="true" />
		<Column Id="MaMon" CSType="System.String" PropertyName="MaMon" FieldName="maMon" FriendlyName="Ma Mon" IncludeInOutput="true" />
		<Column Id="MaBangDiem" CSType="System.String" PropertyName="MaBangDiem" FieldName="maBangDiem" FriendlyName="Ma Bang Diem" IncludeInOutput="true" />
		<Column Id="MaHocKy" CSType="System.String" PropertyName="MaHocKy" FieldName="maHocKy" FriendlyName="Ma Hoc Ky" IncludeInOutput="true" />
	</Table>
	<Table Id="HocKy" EntityName="HocKy" Owner="dbo" PropertyName="HocKy" FieldName="hocKy" FriendlyName="Hoc Ky" IncludeInOutput="true">
		<Column Id="MaHocKy" CSType="System.String" PropertyName="MaHocKy" FieldName="maHocKy" FriendlyName="Ma Hoc Ky" IncludeInOutput="true" />
		<Column Id="TenHocKy" CSType="System.String" PropertyName="TenHocKy" FieldName="tenHocKy" FriendlyName="Ten Hoc Ky" IncludeInOutput="true" />
		<ChildCollection Id="DiemCollection" PropertyName="DiemCollection" FieldName="diemMaHocKy" FriendlyName="DiemCollection" CSType="TList&lt;Diem&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_Diem_HocKy" IncludeInOutput="true"/>
	</Table>
	<Table Id="HocSinh" EntityName="HocSinh" Owner="dbo" PropertyName="HocSinh" FieldName="hocSinh" FriendlyName="Hoc Sinh" IncludeInOutput="true">
		<Column Id="MaHocSinh" CSType="System.String" PropertyName="MaHocSinh" FieldName="maHocSinh" FriendlyName="Ma Hoc Sinh" IncludeInOutput="true" />
		<Column Id="HoTenHocSinh" CSType="System.String" PropertyName="HoTenHocSinh" FieldName="hoTenHocSinh" FriendlyName="Ho Ten Hoc Sinh" IncludeInOutput="true" />
		<Column Id="GioiTinh" CSType="System.String" PropertyName="GioiTinh" FieldName="gioiTinh" FriendlyName="Gioi Tinh" IncludeInOutput="true" />
		<Column Id="NgaySinh" CSType="System.DateTime" PropertyName="NgaySinh" FieldName="ngaySinh" FriendlyName="Ngay Sinh" IncludeInOutput="true" />
		<Column Id="DiaChi" CSType="System.String" PropertyName="DiaChi" FieldName="diaChi" FriendlyName="Dia Chi" IncludeInOutput="true" />
		<Column Id="Email" CSType="System.String" PropertyName="Email" FieldName="email" FriendlyName="Email" IncludeInOutput="true" />
		<Column Id="XepLoai" CSType="System.String" PropertyName="XepLoai" FieldName="xepLoai" FriendlyName="Xep Loai" IncludeInOutput="true" />
		<Column Id="HanhKiem" CSType="System.String" PropertyName="HanhKiem" FieldName="hanhKiem" FriendlyName="Hanh Kiem" IncludeInOutput="true" />
		<Column Id="Password" CSType="System.String" PropertyName="Password" FieldName="password" FriendlyName="Password" IncludeInOutput="true" />
		<Column Id="MaLop" CSType="System.String" PropertyName="MaLop" FieldName="maLop" FriendlyName="Ma Lop" IncludeInOutput="true" />
		<ChildCollection Id="BangDiemCollection" PropertyName="BangDiemCollection" FieldName="bangDiemMaHocSinh" FriendlyName="BangDiemCollection" CSType="TList&lt;BangDiem&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_BangDiem_HocSinh" IncludeInOutput="true"/>
	</Table>
	<Table Id="Khoi" EntityName="Khoi" Owner="dbo" PropertyName="Khoi" FieldName="khoi" FriendlyName="Khoi" IncludeInOutput="true">
		<Column Id="MaKhoi" CSType="System.String" PropertyName="MaKhoi" FieldName="maKhoi" FriendlyName="Ma Khoi" IncludeInOutput="true" />
		<Column Id="TenKhoi" CSType="System.String" PropertyName="TenKhoi" FieldName="tenKhoi" FriendlyName="Ten Khoi" IncludeInOutput="true" />
		<ChildCollection Id="LopHocCollection" PropertyName="LopHocCollection" FieldName="lopHocMaKhoi" FriendlyName="LopHocCollection" CSType="TList&lt;LopHoc&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_LopHoc_Khoi" IncludeInOutput="true"/>
	</Table>
	<Table Id="LopHoc" EntityName="LopHoc" Owner="dbo" PropertyName="LopHoc" FieldName="lopHoc" FriendlyName="Lop Hoc" IncludeInOutput="true">
		<Column Id="MaLop" CSType="System.String" PropertyName="MaLop" FieldName="maLop" FriendlyName="Ma Lop" IncludeInOutput="true" />
		<Column Id="TenLop" CSType="System.String" PropertyName="TenLop" FieldName="tenLop" FriendlyName="Ten Lop" IncludeInOutput="true" />
		<Column Id="MaKhoi" CSType="System.String" PropertyName="MaKhoi" FieldName="maKhoi" FriendlyName="Ma Khoi" IncludeInOutput="true" />
		<ChildCollection Id="HocSinhCollection" PropertyName="HocSinhCollection" FieldName="hocSinhMaLop" FriendlyName="HocSinhCollection" CSType="TList&lt;HocSinh&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_HocSinh_LopHoc" IncludeInOutput="true"/>
	</Table>
	<Table Id="MonHoc" EntityName="MonHoc" Owner="dbo" PropertyName="MonHoc" FieldName="monHoc" FriendlyName="Mon Hoc" IncludeInOutput="true">
		<Column Id="MaMon" CSType="System.String" PropertyName="MaMon" FieldName="maMon" FriendlyName="Ma Mon" IncludeInOutput="true" />
		<Column Id="TenMon" CSType="System.String" PropertyName="TenMon" FieldName="tenMon" FriendlyName="Ten Mon" IncludeInOutput="true" />
		<ChildCollection Id="DiemCollection" PropertyName="DiemCollection" FieldName="diemMaMon" FriendlyName="DiemCollection" CSType="TList&lt;Diem&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_Diem_MonHoc" IncludeInOutput="true"/>
	</Table>
	<Table Id="PhongBan" EntityName="PhongBan" Owner="dbo" PropertyName="PhongBan" FieldName="phongBan" FriendlyName="Phong Ban" IncludeInOutput="true">
		<Column Id="MaPhongBan" CSType="System.String" PropertyName="MaPhongBan" FieldName="maPhongBan" FriendlyName="Ma Phong Ban" IncludeInOutput="true" />
		<Column Id="TenPhongBan" CSType="System.String" PropertyName="TenPhongBan" FieldName="tenPhongBan" FriendlyName="Ten Phong Ban" IncludeInOutput="true" />
		<ChildCollection Id="QuanLyCollection" PropertyName="QuanLyCollection" FieldName="quanLyMaPhongBan" FriendlyName="QuanLyCollection" CSType="TList&lt;QuanLy&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_QuanLy_PhongBan" IncludeInOutput="true"/>
	</Table>
	<Table Id="QuanLy" EntityName="QuanLy" Owner="dbo" PropertyName="QuanLy" FieldName="quanLy" FriendlyName="Quan Ly" IncludeInOutput="true">
		<Column Id="MaQuanLy" CSType="System.String" PropertyName="MaQuanLy" FieldName="maQuanLy" FriendlyName="Ma Quan Ly" IncludeInOutput="true" />
		<Column Id="HoTenQuanLy" CSType="System.String" PropertyName="HoTenQuanLy" FieldName="hoTenQuanLy" FriendlyName="Ho Ten Quan Ly" IncludeInOutput="true" />
		<Column Id="Password" CSType="System.String" PropertyName="Password" FieldName="password" FriendlyName="Password" IncludeInOutput="true" />
		<Column Id="MaChucDanh" CSType="System.String" PropertyName="MaChucDanh" FieldName="maChucDanh" FriendlyName="Ma Chuc Danh" IncludeInOutput="true" />
		<Column Id="MaPhongBan" CSType="System.String" PropertyName="MaPhongBan" FieldName="maPhongBan" FriendlyName="Ma Phong Ban" IncludeInOutput="true" />
	</Table>
</NetTiersMap>
